.track {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid rgba(255, 255, 255, 0.26);
    margin: 10px 5%;

}

.track button {
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
    padding: 13px 16px !important;
    background-color: #1db954;
    height: fit-content;
}

.track button:hover {
    background-color: #1ed760 !important;
}

.trackinfo {
    padding-bottom: 10px;
    text-align: left;
}
