.tracklist {
    background-color: #191145bb;
    flex-grow: 1;
    flex-basis: 100%;
    border-radius: 10px;
    color: white;
    margin: 0 5%;
    text-align: left;
}

.tracklist h2 {
    margin: 0 5%;
}