* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.title {
  background-color: #191145;
  color: white;
  padding: 2% 0;
}

.title span {
  color: #511f7d;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;
}

.flexItem {
  flex-grow: 1;
  flex-basis: 100%;
}